# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: EnviroChange2024
preposition: '-' # Das wird benutzt um automatische Titel für Vorträge mit dem Konferenznamen zu generieren. Also z.B. "Vortrag X von Y [preposition] Envirochange24".
email: your-email@example.com # TODO
description: >- # this means to ignore newlines until "baseurl:"
  Bereit für den Wandel?

  Am 9. Februar 2024 wird die 14. EnviroChange stattfinden, für einen spannenden Austausch über Umweltthemen und Klimawandel mit Studierenden und Gästen aus Wissenschaft und Praxis.

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://envirochange.world" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
theme: jekyll-theme-conference
plugins:
  - jekyll-feed

markdown: kramdown
sass:
  style: compressed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


# Collections and their defaults
collections:
  talks:
    output: true
    permalink: /vortraege/:title/
  speakers:
    output: true
    permalink: /:collection/:title/
  rooms:
    output: true
    permalink: /:collection/:title/
  footer_items:
    output: true
    permalink: /:name/
  sponsoren:
    output: true
    permalink: /:collection/:name/


defaults:
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
  - scope:
      path: ""
      type: speakers
    values:
      layout: speaker
  - scope:
      path: ""
      type: rooms
    values:
      layout: room


conference:

  # Language
  lang: de

  # Show theme errors:
  show_errors: True

  # Navigation bar
  navigation:
    logo:
      # name: Envirochange
      img: 'Logo_EnviroChange_gruen_klein.png'
      # url: 'https://digitale-gesellschaft.ch/'
    links:
      - name: Programm
        relative_url: /programm/
      - name: Vorträge
        relative_url: /vortraege/
      - name: Speakers
        relative_url: /speakers/
      - name: Anreise
        relative_url: /ort/
      - name: Sponsoren
        relative_url: /sponsoren/
      - name: Vergangene EnviroChange
        menu:
          - name: 2024 (current)
            disabled: true
          - name: 2023
            absolute_url: 'https://www.lgi.geographie.uni-kiel.de/de/lehre/studentische-arbeiten/envirochange2023'
          - name: 2022
            absolute_url: 'https://www.lgi.geographie.uni-kiel.de/de/lehre/studentische-arbeiten/envirochange2022'
          - name: 2021
            absolute_url: 'https://www.lgi.geographie.uni-kiel.de/de/lehre/studentische-arbeiten/envirochange2021'
          - name: 2020
            absolute_url: 'https://www.lgi.geographie.uni-kiel.de/de/lehre/studentische-arbeiten/envirochange2020'
          - name: 2018
            absolute_url: 'https://www.lgi.geographie.uni-kiel.de/de/lehre/studentische-arbeiten/envirochange'

  # Main landing page
  main:
    logo:
      img: 'Logo_EnviroChange+Schrift_Seite_mitte.png'
    links:
      - name: Programm
        relative_url: /programm/
      - name: Veranstaltungsort
        relative_url: /ort/
      

  # Information boxes
  # info_bars:
  #   - title: Welcome to the Conference Theme for Jekyll!
  #     color: primary
  #     main_only: true
  #     text: |
  #       The Theme was originally made for the [Winterkongress](https://www.digitale-gesellschaft.ch/kongress/), a yearly conference of the [Digital Society Switzerland](https://digitale-gesellschaft.ch/).

  #       ---

  #       See the [README](github.com/DigitaleGesellschaft/jekyll-theme-conference/) on the project's GitHub repository for further information on how to configure and adapt it to your needs.
  #   - text: This is just some random content for demonstration purposes.
  #     color: warning
  #     pages_only: true


  # Live indications
  live:
    date: 09.02.2024
    timezone: GMT+1
    stop:       240  # in minutes
    streaming:
      enable: true
      pause:     60  # in minutes
      prepend:    5  # in minutes
      extend:     5  # in minutes
    demo:
      enable: false
      duration: 300  # in seconds
      pause:     10  # in seconds


  talks:
    # Talk categories
    main_categories:
      - name: Gäste
        color: success
      - name: Studierende
        color: info
      - name: Moderation
        color: light


    # Hide icons on talk overview page
    hide_icons: false

  speakers:
    # Show first and last name
    show_firstname: true

  location:
    # Disable links to locations
    hide: false
    # URL of ort/ room overview page
    url: '/ort'
    # Main page title shown on location/room navigation bar
    navbar_title: 'Anreise'
    # Show map on location main page
    map:
      # Initial map center point
      home_coord: "54.33685, 10.12088"
      # Alternative map providers can be found on https://leaflet-extras.github.io/leaflet-providers/preview/
      # The following do match the Bootstrap design not too badly:
      #   - Hydda.Full
      #   - Thunderforest.Neighbourhood
      #   - Esri.WorldTopoMap
      map_provider: "OpenStreetMap.Mapnik"
      default_zoom: 16

  program:
    # URL of program page
    url: '/programm'

    # Time steps in program table
    time_steps: 15 # in minutes

    # Show intermediary time steps (next to full hours)
    show_alltimes: true
